@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
*{
    margin: 8;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    display: flex;   
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}
.content{
    background-color: white;
    border-radius: 15px;
    width: 980px;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before{
    content: "";
    position: absolute;
    background-color: teal;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.title{
    
    font-size: 28px;
    font-weight: bold;
    
}
.titulobv{
    color: #fff;
}
.title-second{
    color: teal;
}
.description{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color:#fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border-width: 0px;
    background-color: teal;
    border: 1px solid teal;
    position: absolute;
    top: 335px;
    left: 557px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
}
.btn:hover{
    background-color:#fff ;
    border: 1px solid teal;
    color: #7f8c8d;
}
.cancelar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 15px;
    text-transform: uppercase;
    color:#fff;
    font-size: 10px;
    padding: 15px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    height: 44px;
    align-self: center;
    background-color: teal;
    border: 1px solid teal;
    text-decoration: none;
    position:absolute;
    right: 110px;
    top: 335px
    
}
.cancelar:hover{
    background-color:#fff ;
    border: 1px solid teal;
    color: #7f8c8d;
}
.cancelar .btn{
    display: inline;
}
.first-content {
    display: flex;
}
.first-column{
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}
.second-column{
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.entrecomseuemail{
    color: teal;
}
.form{
    display: flex;
    flex-direction: column;
    width: 55%;
}
form input{
    height: 45px;
    width: 100%;
    border:none;
    background-color: #ecf0f1;
    
}

.entrarbtn{
    align-self: center;
}
.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify{
    color: #7f8c8d;
    padding: 0 5px;
}
