@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
*{
    margin: 8;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    display: flex;   
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}
.content{
    background-color: white;
    border-radius: 15px;
    width: 980px;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before{
    content: "";
    position: absolute;
    background-color: teal;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.title{
    
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.titulobv{
    color: #fff;
}
.title-second{
    color: teal;
}
.description{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color:#fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border-width: 0px;
    background-color: teal;
    border: 1px solid teal;
}
.btn:hover{
    background-color:#fff ;
    border: 1px solid teal;
    color: #7f8c8d;
}
    

.first-content {
    display: flex;
}
.first-column{
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}
.second-column{
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media{
    margin: 1ren 0;
}

.list-social-media{
    display: flex;
    list-style-type: none;
}
.item-social-media{
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media:hover .item-social-media{
    background-color: teal;
    color: #fff;
    border-color: teal;

}
.entrecomseuemail{
    color: teal;
}
.form{
    display: flex;
    flex-direction: column;
    width: 55%;
}
form input{
    height: 45px;
    width: 100%;
    border:none;
    background-color: #ecf0f1;
    
}
.esquecims{
    color: #95a5a6;
    font-size: 9px;
    
}
.entrarbtn{
    align-self: center;
}
.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify{
    color: #7f8c8d;
    padding: 0 5px;
}
.second-content {
    position: absolute;
    display: flex;
}
#res{
    color: crimson;
    font-size: 14px;
    text-align: center;
}

